
<h1> I contatti del Ristorante da Mario</h1>



<address-div address="@ViewBag.RestaurantAddress"></address-div>

<div>
    <label><strong>Dove scriverci: </strong></label>
    <e-mail to-user="RistoranteDaMario@prova.it"></e-mail> <br />
    <label><strong>Dove chiamarci: </strong></label>
    <label> +39030123456</label>
</div>

